# 第５章 値の書き換え

In [1]:
deck <- read.csv("deck.csv")

データの書き換えによる混乱を防ぐため、<br>
元のdeckとは別に、deck2を作成。

In [3]:
deck2 <- deck
head(deck)
head(deck2)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

## 5.1 その場での値の変更

In [5]:
vec <- c(rep(0,10))
vec

 [1] 0 0 0 0 0 0 0 0 0 0

前章の復習ですが、ベクトルの中の特定の要素を指定するときは、<br>
以下のように指定します。

In [6]:
vec[1]

[1] 0

そして、下記の通りに` <- `を使用することで値を更新することが可能です。

In [7]:
vec[1] <- 1000
vec

 [1] 1000    0    0    0    0    0    0    0    0    0

In [8]:
vec[c(1,3,5)] <- 1
vec

 [1] 1 0 1 0 1 0 0 0 0 0

In [9]:
vec[4:6] <- vec[4:6] +1
vec

 [1] 1 0 1 1 2 1 0 0 0 0

また、存在しない添字を指定することで新しい値を作成することも可能です。

In [13]:
#vecは１０個の要素からなるベクトルです。なので、[11]を指定することで……
vec[11] <- 999
vec[14] <- 999
vec

 [1]   1   0   1   1   2   1   0   0   0   0 999  NA  NA 999

この方法を使用することで、データセットに新しい変数を作成することができます。

In [18]:
deck2$new <- 1:52
head(deck2)

  face  suit   value new
1 king  spades 13    1
2 queen spades 12    2
3 jack  spades 11    3
4 ten   spades 10    4
5 nine  spades  9    5
6 eight spades  8    6

またnullを使用することで、データセットの変数を削除することも可能です。

In [23]:
deck2$new <- NULL
head(deck2)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

ここからはdeck2をポーカで使用しやすいように加工してみます。<br>
ポーカーにおいてエースはキングより強い最強のカードです。<br>
データフレームではエースはvalueが１に設定されています。<br>
コレではポーカーをするさいにvalueで強さを比較しようとしても間違いが生じます。<br>
そこで今回はエースのvalueを14に書き換えてみましょう。

In [24]:
deck2[c(13,26,39,52), ]

   face suit     value
13 ace  spades   1
26 ace  clubs    1
39 ace  diamonds 1
52 ace  hearts   1

In [27]:
deck2[c(13,26,39,52), 3]
deck2$value[c(13,26,39,52)]

[1] 1 1 1 1

[1] 1 1 1 1

In [31]:
deck2$value[c(13,26,39,52)] <- 14
deck2$value[c(13,26,39,52)]
head(deck2, n = 13)

[1] 14 14 14 14

   face  suit   value
1  king  spades 13
2  queen spades 12
3  jack  spades 11
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades 14

## 5.2 論理添字
5.1での値の書き換えが非常に簡単に行えたのは、元データが順序よく並んでいたからです。<br>
実際のデータで自身に都合のいい順序でデータが構成されていることは多くありません。<br>
そこで論理添字を使用して対応することにします。

In [35]:
shuffle  <- function(cards){
    random <- sample(1:52 ,size = 52)
    cards[random,]
}

deck3 <- deck
shuffle(deck3)
head(deck3)

   face  suit     value
25 two   clubs     2
3  jack  spades   11
13 ace   spades    1
11 three spades    3
45 eight hearts    8
27 king  diamonds 13
15 queen clubs    12
20 seven clubs     7
40 king  hearts   13
17 ten   clubs    10
46 seven hearts    7
26 ace   clubs     1
39 ace   diamonds  1
47 six   hearts    6
41 queen hearts   12
12 two   spades    2
51 two   hearts    2
33 seven diamonds  7
23 four  clubs     4
22 five  clubs     5
36 four  diamonds  4
5  nine  spades    9
9  five  spades    5
2  queen spades   12
19 eight clubs     8
30 ten   diamonds 10
42 jack  hearts   11
38 two   diamonds  2
44 nine  hearts    9
50 three hearts    3
8  six   spades    6
7  seven spades    7
49 four  hearts    4
24 three clubs     3
32 eight diamonds  8
4  ten   spades   10
48 five  hearts    5
14 king  clubs    13
16 jack  clubs    11
29 jack  diamonds 11
21 six   clubs     6
1  king  spades   13
18 nine  clubs     9
34 six   diamonds  6
37 three diamonds  3
10 four  spades    4
28 queen diamonds 12
43 ten   hearts   10
31 nine  diamonds  9
52 ace   hearts    1
35 five  diamonds  5
6  eight spades    8

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [36]:
1> 2

[1] TRUE

In [37]:
1 > c(0,1,2)

[1]  TRUE FALSE FALSE

In [38]:
c(1,2,3) == c(3,2,1)

[1] FALSE  TRUE FALSE

In [41]:
# %in% だけは通常通りの要素ごとの比較をしない。

1 %in% c(2,3,4)
c(1,2,4,5,6) %in% c(1,2,3)

[1] FALSE

[1]  TRUE  TRUE FALSE FALSE FALSE

ここでfaceがaceのみのカードのみを抽出する。

In [43]:
deck2$face　== "ace"

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE  TRUE

In [44]:
sum(deck2$face=="ace")

[1] 4

In [46]:
deck2$value[deck2$face == "ace"]

[1] 14 14 14 14

In [47]:
a <- deck2$face　== "ace"
deck2[a, ]

   face suit     value
13 ace  spades   14
26 ace  clubs    14
39 ace  diamonds 14
52 ace  hearts   14

In [65]:
deck3$value[deck3$face =="ace"] <- 1
head(deck3 ,n = 13)

   face  suit   value
1  king  spades 13
2  queen spades 12
3  jack  spades 11
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades  1

### 5.2.2 ブール演算子

In [67]:
a <- c(1:3)
b <- c(1:3)
c <- c(1,2,4)

In [68]:
a == b

[1] TRUE TRUE TRUE

In [69]:
b == c

[1]  TRUE  TRUE FALSE

In [70]:
a == b & b==c

[1]  TRUE  TRUE FALSE

In [76]:
deck4 <- deck

deck4$face == "queen" & deck4$suit == "spades"

qeenofspades <- deck4$face == "queen" & deck4$suit == "spades"
deck4[qeenofspades,]

 [1] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

  face  suit   value
2 queen spades 12

## 5.3 欠損情報
「Not Availavle」　不明という意味。<br>
RではNAで表現される。

### 5.3.1 na.rm 
ベクトルの中に一つでもNAがある場合、何してもNAになる。

In [78]:
c(NA, 1:50)
mean(c(NA, 1:50))

 [1] NA  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
[26] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[51] 50

[1] NA

ほとんどの関数では`na.rm`というオプションが実装されている。<br>
`na.rm = TRUE`である場合はNAは無視される。

In [79]:
mean(c(NA, 1:50),na.rm = TRUE)

[1] 25.5

###  5.3.2 is.na

In [80]:
NA == NA

[1] NA

In [81]:
c(1,2,3,NA) == NA

[1] NA NA NA NA

In [83]:
is.na(NA)

[1] TRUE

In [87]:
deck5 <- deck

deck5$value[deck5$face == "ace"] <- NA
head(deck5, n = 13)

   face  suit   value
1  king  spades 13
2  queen spades 12
3  jack  spades 11
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades NA