# 第４章 Rの記法

本章はデータフレームを使用するため、先に`deck.csv`を読み込んでおきます。

In [2]:
deck <- read.csv("deck.csv")
head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

## 4.1 値の選択

In [5]:
deck[,]

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

### 4.1.1 正の整数

In [4]:
deck[1,1]

[1] king
Levels: ace eight five four jack king nine queen seven six ten three two

複数のcolumの選択

In [7]:
deck[1,c(1,3)]

  face value
1 king 13

同一の値を繰り返す

In [11]:
deck[c(1,1,1),2]

[1] spades spades spades
Levels: clubs diamonds hearts spades

変数の中に格納することも可能

In [10]:
new <- deck[1,c(1,3)]
new

  face value
1 king 13

` : `の使用で範囲指定をすることができる。

In [13]:
deck [1:2,2:3]

  suit   value
1 spades 13
2 spades 12

### 4.1.2 負の整数
負の整数は**選択した添字以外**を指定する。<br>

In [16]:
deck[-(2:52),]

  face suit   value
1 king spades 13

負の整数と正の整数を同時に使用することはできません

In [17]:
deck <- deck(c(-1,1),1)

ERROR: Error in deck(c(-1, 1), 1): could not find function "deck"

### 4.1.3 ゼロ
使用可能ではあるが、使う場合は少ない。<br>
ゼロを添字として使用した次元からは、何も帰ってこない。

In [18]:
deck[0,0]

### 4.1.4 スペース
スペースを添字として使用した次元は、全ての値を抽出します。

In [19]:
deck[1, ]

  face suit   value
1 king spades 13

### 4.1.5 論理値
添字として論理値を指定した場合、TRUEの物のみを抽出します。

In [22]:
rows <- c(TRUE,rep(F,50))

deck[rows, ]

   face suit   value
1  king spades 13
52 ace  hearts  1

### 4.1.6 名前
オブジェクトが名前を持っている場合は、名前を使用して抽出することができます。

In [25]:
deck[ 1,c("face","suit","value")]

  face suit   value
1 king spades 13

In [28]:
print(deck[  ,"suit"])

 [1] spades   spades   spades   spades   spades   spades   spades   spades
 [9] spades   spades   spades   spades   spades   clubs    clubs    clubs
[17] clubs    clubs    clubs    clubs    clubs    clubs    clubs    clubs
[25] clubs    clubs    diamonds diamonds diamonds diamonds diamonds diamonds
[33] diamonds diamonds diamonds diamonds diamonds diamonds diamonds hearts
[41] hearts   hearts   hearts   hearts   hearts   hearts   hearts   hearts
[49] hearts   hearts   hearts   hearts
Levels: clubs diamonds hearts spades

## 4.2 カードのディール

***
**練習問題**<br>
deckの最初のカードを返す関数を書いてください。

In [ ]:
deal <- function(cards){
    cards[1,]
}

## 4.3 デッキのシャッフル
本物のカードはカードの順番をランダムに変えます。<br>
データフレームを活用してシャッフルしましょう。

In [29]:
deck2 <- deck[1:52, ]
head(deck2)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [31]:
deck3 <- deck[c(2,1,3:52), ]
head(deck3)

  face  suit   value
2 queen spades 12
1 king  spades 13
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [35]:
random <- sample(1:52, size = 52)
random

 [1]  8  4 23 27 48 16 40 39 43 19  7 29 12 45  6 42 49 13 10 24 35  2 18 28 50
[26] 37 11 34  1 52 44 41 21  5 46 25  9 20 51 36 32 22 17  3 14 33 31 30 26 47
[51] 38 15

In [36]:
deck4 <- deck[random, ]
head(deck4)

   face suit     value
8  six  spades    6
4  ten  spades   10
23 four clubs     4
27 king diamonds 13
48 five hearts    5
16 jack clubs    11

***
**練習問題**<br>
上記のコードを参考にshaffle関数を作成してください。

In [39]:
shuffle <- function(cards){
    random <- sample(1:52, size = 52)
    cards[random, ]
}

In [45]:
shuffle(deck)

   face  suit     value
48 five  hearts    5
1  king  spades   13
47 six   hearts    6
25 two   clubs     2
30 ten   diamonds 10
2  queen spades   12
28 queen diamonds 12
34 six   diamonds  6
35 five  diamonds  5
39 ace   diamonds  1
38 two   diamonds  2
24 three clubs     3
12 two   spades    2
43 ten   hearts   10
31 nine  diamonds  9
27 king  diamonds 13
9  five  spades    5
40 king  hearts   13
3  jack  spades   11
7  seven spades    7
5  nine  spades    9
46 seven hearts    7
41 queen hearts   12
18 nine  clubs     9
51 two   hearts    2
45 eight hearts    8
17 ten   clubs    10
29 jack  diamonds 11
52 ace   hearts    1
26 ace   clubs     1
6  eight spades    8
11 three spades    3
13 ace   spades    1
36 four  diamonds  4
21 six   clubs     6
33 seven diamonds  7
37 three diamonds  3
14 king  clubs    13
22 five  clubs     5
8  six   spades    6
49 four  hearts    4
20 seven clubs     7
15 queen clubs    12
19 eight clubs     8
4  ten   spades   10
16 jack  clubs    11
10 four  spades    4
23 four  clubs     4
42 jack  hearts   11
44 nine  hearts    9
32 eight diamonds  8
50 three hearts    3

## 4.4 ドル記号と二重括弧
データフレームとリストの２つのオブジェクトは` $ `を使用することで特定の値を抽出することが可能です。<br>

In [46]:
deck$value

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

要素ごとに平均とか簡単にできる！やったね！

In [48]:
mean(deck$value)
median(deck$value)

[1] 7

[1] 7

リストの要素に関しても同様に使用することが可能です。<br>

In [51]:
list1 <- list(number= c(1,2) , logical = TRUE , strings = c("a","b","c"))
list1

$number
[1] 1 2

$logical
[1] TRUE

$strings
[1] "a" "b" "c"

取り出したリストは、要求した要素を含む新たしいリストとして返ってきます。

In [56]:
list1[1]

$number
[1] 1 2

上記の記法ではリストとして返ってくるので、関数にかけられないときがあります。

In [57]:
mean(list1[1])

Warning message in mean.default(list1[1]):
“argument is not numeric or logical: returning NA”

[1] NA

` $ `の記法を使用することで、返ってきた値をそのまま使用することが可能です。<br>
これにより、list1の場合はアトミックベクトルが返ってきます。

In [58]:
mean(list1$number)

[1] 1.5

リストの要素が名前を持たない場合は二重括弧をしようして、サブセットをリストのサブセットを作成できます。

In [60]:
list1[[1]]
mean(list[[1]])

[1] 1 2

[1] 1.5

In [62]:
list1["number"]
list1[["number"]]

$number
[1] 1 2

[1] 1 2